<div class="income-wrapper">

  <!-- Income Form -->
 <form
  #incomeForm="ngForm"
  (ngSubmit)="save(incomeForm)"
  class="income-form"
>
  <input
    type="text"
    name="title"
    [(ngModel)]="data.title"
    placeholder="Income Title"
    required
  />

  <input
    type="number"
    name="amount"
    [(ngModel)]="data.amount"
    placeholder="Amount"
    required
  />

  <input
    type="text"
    name="category"
    [(ngModel)]="data.category"
    placeholder="Category"
    required
  />

  <input
    type="date"
    name="date"
    [(ngModel)]="data.date"
    required
  />

  <button type="submit">
    {{ editingId ? 'Update Income' : 'Add Income' }}
  </button>
</form>

<hr />

<div *ngIf="income.length === 0">
  No income added yet.
</div>

<div class="income-item" *ngFor="let item of income">
  <strong>{{ item.title }}</strong>
  <span>₹{{ item.amount }}</span>
  <span>{{ item.category }}</span>
  <span>{{ item.date }}</span>

  <button type="button" (click)="edit(item)">Edit</button>
  <button type="button" (click)="delete(item.id!)">Delete</button>
</div>

