<div class="expense-wrapper">
  <div class="expense-card">
    <h2>Add Expense</h2>

    <form class="expense-form">
      <div class="form-group">
        <label>Title</label>
        <input type="text" [(ngModel)]="data.title" name="title">
      </div>

      <div class="form-group">
        <label>Amount</label>
        <input type="number" [(ngModel)]="data.amount" name="amount">
      </div>

      <div class="form-group">
        <label>Category</label>
        <input type="text" [(ngModel)]="data.category" name="category">
      </div>

      <div class="form-group">
        <label>Date</label>
        <input type="date" [(ngModel)]="data.date" name="date">
      </div>

      <button type="button" class="save-btn" (click)="save()">
        Save Expense
      </button>
    </form>

    <hr>

    <h3>Your Expenses</h3>

    <div *ngIf="expenses.length > 0; else noData">

      <div class="expense-item" *ngFor="let e of expenses">
        <div>
          <b>{{ e.title }}</b>
          <p>{{ e.category }} | {{ e.date }}</p>
        </div>
        <div class="amount">₹ {{ e.amount }}</div>
      </div>

    </div>

    <ng-template #noData>
      <p class="no-expense">No expenses added yet</p>
    </ng-template>

  </div>
</div>
