<div class="register-wrapper">
  <div class="form-section">

    <!-- LEFT PANEL -->
    <div class="welcome-panel">
      <h2>Welcome Back!</h2>
      <p>Provide your personal details to use all features</p>
      <button routerLink="/login">SIGN IN</button>
    </div>

    <!-- RIGHT PANEL -->
    <div class="form-panel">
      <h2>Registration</h2>

      <form #f="ngForm" (ngSubmit)="register(f)">

        <div class="row">
          <input name="name" [(ngModel)]="name" placeholder="Full Name" required>
          <select name="gender" [(ngModel)]="gender" required>
            <option value="" disabled selected>Gender</option>
            <option value="female">Female</option>
            <option value="male">Male</option>
            <option value="other">Other</option>
          </select>
        </div>

        <div class="row">
          <input name="email" [(ngModel)]="email" placeholder="Email" required>
          <input name="phone" [(ngModel)]="phone" placeholder="Phone" >
        </div>

        <div class="row">
          <input name="city" [(ngModel)]="city" placeholder="City" required>
          <select name="role" [(ngModel)]="role" required>
            <option value="" disabled selected>Select Role</option>
            <option value="user">User</option>
            <option value="admin">Admin</option>
          </select>
        </div>

        <div class="row">
          <input type="password" name="password" [(ngModel)]="password" placeholder="Password" required>
          <input type="password" name="confirm" [(ngModel)]="confirmPassword" placeholder="Confirm" required>
        </div>

        <button type="submit">Register</button>

      </form>

      <p class="login-link">
        Already have account? <a routerLink="/login">Login</a>
      </p>
    </div>
  </div>
</div>
